.ano {
    color: lightseagreen;
    font-style: italic;
}

.str {
    color: rgb(229, 73, 91);
}

.kwd {
    color: rgb(81, 198, 134);
    font-weight: bold;
}

.com {
    color: rgb(145, 150, 175);
}

.typ {
    color: rgb(192, 194, 197);
}

.lit {
    color: #066;
}

.pun {
    color: #660;
}

.pln {
    color: #BABABA;
}

.tag {
    color: #008;
}

.atn {
    color: #606;
}

.atv {
    color: #080;
}

.dec {
    color: #606;
}
